class <%= class_name %> < Vault
<%- vault_attributes.each do |attribute| -%>
<%-   default = attribute[:default] ? ", default: #{attribute[:default]}" : "" -%>
  vault_attribute :<%= attribute[:name] %>, :<%= attribute[:type] %><%= default %>
<%- end -%>
end
